extends master

include includes/mixins.pug

mixin loco(name, picture)
    div.col-sm-3
        img(src=picture)

block content
    +sectionTitle('Motoriek')

    div.row
        +loco('', 'assets/images/home/page1-img1.jpg')
        +loco('', 'assets/images/home/page1-img2.jpg')
        +loco('', 'assets/images/home/page1-img3.jpg')
        +loco('', 'assets/images/home/page1-img4.jpg')
