include vars.pug


header.page-header
    a(href="#", class="hidden-md-up", id="open_menu")
        i(class="fa fa-bars pull-right hamburger fa-1", aria-hidden="true")

    h1 kinderpraktijk
        strong(style="padding-left: 5px") De puzzel
    

    nav(class='main-nav md-center hidden-sm-down')
        ul.main-nav__tabs
            each x in menu
                li.main-nav__tabs--item(data-menu-active=x.menuActive)
                    a(href=x.link)
                        h2.menu__title
                            | #{x.title}
                        h3.menu__sub.hidden-md-down
                            | !{x.subTitle}

    div(style="clear: both")

