div(class='hidden-xs-up mobile-menu', id='mobile-menu')
    div.bg
    div.container
        div.mobile-menu-header
            h1 
                a(href="#", id="close_menu") 
                    i(class="fa fa-close pull-right")

        div.row
            div.col-md-12
                ul.list-unstyled.list-unstyled-mobile
                    each item in menu
                        li 
                            a(href=item.link) #{item.title}