header.page-header
    h1 kinderpraktijk
        strong(style="padding-left: 5px") De puzzel
    nav(class='main-nav md-center')
        ul.main-nav__tabs
            li.main-nav__tabs--item
                a(href="/index.html") Start
            li.main-nav__tabs--item
                a(href="/diensten/overzicht.html") Diensten
            li.main-nav__tabs--item
                a(href="/contact.html") Contact

    div(style="clear: both")
