body {
}

a.home-btn {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 2.5rem);
    background-color: #0066FF;
    color: white;
}

    a.home-btn:hover {
        color: white;
    }

.home-card {
    margin-top: 10px;
}

.card-info {
    background-color: #00D400;
    color: white;
    padding: 5px 0;
}

.img-filter {
    transition: .2s ease-in-out;
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
}

    .img-filter:hover {
        filter: grayscale(0%);
    }

.top-bar {
    height: 40px;
    border-bottom: 2px solid #0066FF;
    background: url('../images/pattern.png') repeat;
}

.page-header {
}

    .page-header > h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        display: inline-block;
    }

.main-nav > .main-nav__tabs .menu__title {
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.main-nav > .main-nav__tabs .menu__sub {
    font-size: 0.6rem;
    font-weight: lighter;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.main-nav > .main-nav__tabs > .main-nav__tabs--item,
.main-nav > .main-nav__tabs > .main-nav__tabs--active {
    display: inline-block;
    margin-right: 10px;
}

    .main-nav > .main-nav__tabs > .main-nav__tabs--item:last-child,
    .main-nav > .main-nav__tabs > .main-nav__tabs--active:last-child {
        margin-right: 0px;
    }

    .main-nav > .main-nav__tabs > .main-nav__tabs--item > a,
    .main-nav > .main-nav__tabs > .main-nav__tabs--active > a {
        display: block;
        padding: 0px;
        margin: 0px;
        border: 1px solid #00D400;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }

        .main-nav > .main-nav__tabs > .main-nav__tabs--item > a:hover,
        .main-nav > .main-nav__tabs > .main-nav__tabs--active > a {
            background-color: #00D400;
            color: white;
        }

.main-nav > .main-nav__tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*.main-nav > .main-nav__tabs > .main-nav__tabs--item,
    .main-nav > .main-nav__tabs > .main-nav__tabs--active {
        display: inline-block;
        line-height: 55px;
        height: 55px;
        box-sizing: border-box;
        margin-left: 10px;
    }

        .main-nav > .main-nav__tabs > .main-nav__tabs--item > a,
        .main-nav > .main-nav__tabs > .main-nav__tabs--active > a {
            padding: 10px 15px;
            border: 1px solid #00D400;
            border-radius: 5px;
            color: #0066FF;
            text-decoration: none;
        }

            .main-nav > .main-nav__tabs > .main-nav__tabs--item > a:hover,
            .main-nav > .main-nav__tabs > .main-nav__tabs--active > a:hover {
                background-color: #00D400;
                color: white;
            }

        .main-nav > .main-nav__tabs > .main-nav__tabs--active > a {
            background-color: #00D400;
            color: white;
        }*/

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

    h2.section-header {
        text-align: center;
        padding: 30px 0;
        font-size: 56px;
    }

header h1.intro {
    color: white;
}

.body {
    border-top: 1px solid #00D400;
    padding: 20px 0;
}

strong.primary {
    color: #00D400;
}

img {
    max-width: 100%;
    min-height: 1px;
}

.main-nav {
    margin: 0 auto;
    margin-top: 15px;
}

@media (min-width: 992px) {
    .main-nav {
        float: right;
    }
}

@media (max-width: 991px) {
    .main-nav {
        margin: 0 auto;
    }
}

.info-column {
    column-count: 2;
    column-gap: 40px;
}

@media (max-width: 575px) {

    .info-column {
        column-count: 1;
        column-gap: 40px;
    }
}

footer.main {
    border-top: 1px solid #00D400;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #a6a6a6;
}

    footer.main strong {
        color: #a6a6a6;
    }

.fa-1 {
    font-size: 2rem;
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #ccc;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
}

    .mobile-menu a {
        text-decoration: none;
        color: white;
    }

    .mobile-menu > .bg {
        background-color: black;
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mobile-menu .mobile-menu-header {
        margin-top: 60px;
    }

.list-unstyled-mobile > li a {
    border-bottom: 1px solid white;
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
}

.top-20 {
    margin-top: 20px;
}