extends master
include includes/mixins.pug

block meta
    +meta('contact', 'Dit is de contactpagina van kinderpraktijk de puzzel')

block content

    div.row
        div.col-md-6
            ul.list-unstyled
                li ann@kinderpraktijkdepuzzel.be
                li Berg 7, Retie
                li Tel: 0444/44.44.44
        div.col-md-6
            div(style="position: relative; height: 400px")
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.6310777519875!2d5.06266947742099!3d51.28110964311268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6b5a03ed54391%3A0x579a3ffa200e83fd!2sBerg+7%2C+2470+Retie!5e0!3m2!1snl!2sbe!4v1490622355380" style="z-index: -1; border: 0px none; position: absolute; height: 100%; width: 100%; padding: 0px; margin: 0px; left: 0px; top: 0px;" scrolling="no" tabindex="-1" frameborder="0" style="border:0" allowfullscreen></iframe>
