extends master

include includes/mixins.pug

block content

    div.row
        div.col-md-3
            div.list-group
                each item in diensten
                    a.list-group-item(href=item.link) #{item.title}

        div.col-md-9
            block dienst
                    