extends master

include includes/mixins.pug

mixin loco(name, picture, link)
    div.col-sm-6.col-md-4.offset-md-1
        div.card.card-inverse.img-filter.text-center.home-card
            img(src=picture)
            div.card-img-overlay
                p.text.card-info #{name}
                a.btn.btn-default.btn-block.home-btn(href=link) Lees meer

block meta
    +meta('start', 'Hallo, dit is de startpagina van de puzzel kinderpraktijk')

block content
    div.row
        div.col-md-10.offset-md-1.info-column
            p 
                | Kinderpraktijk De Puzzel is een kinesitherapiepraktijk voor pediatrische revalidatie en psychomotoriek.
                | De Puzzel is een praktijk waar alle kinderen welkom zijn. Spelenderwijs ontdekken en leren staat hier centraal.
            p
                | U kan bij mij terecht voor kinderkinesitherapie en voor psychomotoriek.
            p
                | Kinderen ontwikkelen op vele vlakken (mentaal, sociaal- emotioneel, motorisch, ...).
                | Bij vele kinderen verloopt dit vanzelf, heel spontaan en zonder problemen. Het is een grote puzzel die moet kloppen.
                | Bij een aantal van hen, lukt het minder goed.
                | Ze hebben een duwtje in de rug nodig, ontwikkelen op het ene vlak veel sneller dan op het andere, ... 
                | Bij deze kinderen proberen we om de ontwikkeling terug op 1 lijn te krijgen zodat ze ten volle kunnen groeien in alles wat ze doen.
                | Kinesitherapie kan dan soms aangewezen zijn.
            p
                | Vanuit mijn opleiding (licentiaat in de revalidatiewetenschappen en Kinesitherapie, optie pediatrische revalidatie)
                | en vanuit mijn ervaring binnen het gewone en buitengewone onderwijs probeer ik uw kind hierbij zo goed mogelijk te ondersteunen.
            p
                | SAMEN STAAN WE STERK!    

    +sectionTitle('Therapie mogelijkheden')

    div.row
        each val in diensten 
            +loco(val.title, val.image, val.link)
