doctype html
include includes/mixins.pug
block vars
include includes/vars.pug
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="UTF-8")
        block meta

        include includes/csslink.pug
    body
        include includes/mobile-menu.pug

        div(class="hidden-xs-down top-bar")
        div.container
            include includes/header.pug

            div.body
                block content

        include includes/footer.pug
        include includes/scriptlink.pug
