extends master

include includes/mixins.pug

block content 
    div.row
        div.col-md-12
            +sectionTitle('Praktijkvisie')

    div.row
        div.col-md-10.offset-1.info-column

            p
                | De werking van de praktijk steunt op 2 pijlers: 
                strong 'samen staan we sterk' 
                | en 
                strong 'het kind staat centraal'.
            p
                | We hechten veel belang aan overleg en het afstemmen van vragen en noden van het kind, de ouders, leerkrachten en therapeuten. Elk persoon heeft een eigen visie en inbreng en wanneer je dit samen kan brengen, heb je een sterke basis om van te starten. Wanneer er bijvoorbeeld een overleg op school nodig is, kan dit ook ingepland worden.
            p 
                | Vanuit al deze info en na het afnemen van een aantal testen kunnen dan de doelen opgesteld worden waaraan gewerkt kan worden. Op regelmatige basis plannen we een overlegmoment om doelen bij te sturen of aan te passen.
            p 
                | We vertrekken telkens vanuit de 
                strong talenten
                |  van het kind. Wat het kind kan, is onze basis en van hieruit werken we verder aan de vaardigheden die moeilijk zijn. Het zelfbeeld van het kind is de rode draad doorheen de therapie. We stellen doelen die haalbaar zijn! Op die manier blijft het kind gemotiveerd en krijgt het volop de kans om te groeien op alle vlakken.