body {
}

.top-bar {
    height: 40px;
    border-bottom: 2px solid #0066FF;
    background: url('../images/pattern.png') repeat;
    margin-bottom: 30px;
}

.page-header {
    margin-top: 15px;
}

.page-header > h1 {
    display: inline-block;
}


.main-nav > .main-nav__tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav > .main-nav__tabs > .main-nav__tabs--item,
.main-nav > .main-nav__tabs > .main-nav__tabs--active {
    display: inline-block;
    line-height: 55px;
    height: 55px;
    box-sizing: border-box;
    margin-left: 10px;
}

.main-nav > .main-nav__tabs > .main-nav__tabs--item > a,
.main-nav > .main-nav__tabs > .main-nav__tabs--active > a{
    padding: 10px 15px;
    border: 1px solid #00D400;
    border-radius: 5px;
    color: #0066FF;
    text-decoration: none;
}

.main-nav > .main-nav__tabs > .main-nav__tabs--item > a:hover,
.main-nav > .main-nav__tabs > .main-nav__tabs--active > a:hover {
    background-color: #00D400;
    color: white;
}

.main-nav > .main-nav__tabs > .main-nav__tabs--active > a {
    background-color: #00D400;
    color: white;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

h2.section-header {
    text-align: center;
    padding: 30px 0;
    font-size: 56px;
}

header h1.intro {
    color: white;
}

.body {
    border-top: 1px solid #00D400;
    padding: 20px 0;
}
strong {
    color: #00D400;
}

img {
    max-width: 100%;
}

.main-nav {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .main-nav {
        float: right;
    }
}