extends ../diensten
include ../includes/mixins.pug

block dienst
    h1 #{diensten[0].title}

    p Binnen de kinesitherapie zijn er verschillende specialisaties. Pediatrische kinesitherapie is therapie die zich richt op baby's, kinderen en jongvolwassenen (0- 18 jaar).
    p We vertrekken vanuit de normale motorische ontwikkeling en gaan na of er sprake is van een vertraagde motorische ontwikkeling of er afwijkingen zijn, of een kind op bepaalde gebieden sneller ontwikkelt dan op andere gebieden,…
    p Dit gebeurt door een intakegesprek en door gestandaardiseerde psychomotorische testing, aangevuld met info van ouders, zorgverleners, thuisbegeleiding,school.
    p Op die manier krijgen we een breed beeld van het kunnen van het kind. Daarna bepalen we samen met ouders, school en/ of andere zorgverleners de accenten en doelen van de therapie.

    h2 Voor wie?
    ul
        li De kleinsten onder ons...

            ul
                li Vertraagde motorische ontwikkeling: niet rollen, niet kruipen, niet op de voetjes willen staan, ...
                li Voorkeurshouding met als gevolg afgevlakte schedel achteraan of zijwaarts
                li 1 kant is sterker ontwikkeld dan de andere kant, asymmetrie
                li Bottom shufflers
                li Neuromotorische aandoeningen: cerebral palsy, spina bifida, syndromen, spierziekten, ...
                li Kinderen die een te lage spierspanning hebben (hypotoon)
                li Ademhalingskinesitherapie
                li ...

        li 2- 18 jr
            ul
                li Sportletsels/ stabilisatietraining
                li Opvolging + behandeling kinderen met neuromotorische aandoeningen (cp, spina bifida, ...) + orthopedie
                li Musculoskeletale problemen: scoliose, kyfose, lage rugpijn, ...
                li Opvolging orthopedie: platvoeten/ holvoeten, ...

