extends ../diensten
include ../includes/mixins.pug

block dienst
    h1 #{diensten[1].title}

    p Psychomotoriek is een deeldomein van de kinesitherapie waarbij het kind in zijn totaliteit bekeken wordt.
    p 
        | Bij elke beweging die we doen, gaan we (vaak onbewust) nadenken.
        | Psychomotoriek betekent dus: een samengaan van lichaam (motoriek) en geest (psyche).
        | Onze geest stuurt de bewuste bewegingen, wat ook wil zeggen dat onze denkpatronen doelbewust beïnvloed kunnen worden door bepaalde bewegingspatronen.
        | Bewegen wordt dan ook als uitgangspunt genomen voor de therapie met als doel de algemene ontwikkeling te bevorderen.

    h2
        | Waarvoor kan je bij de puzzel terecht?
    
    ul
        li Schrijfmotoriek
        li Visuomotorische vaardigheden
        li Fijne motoriek
        li Grove motoriek
        li Ruimtelijk- visuele vaardigheden
        li Coördinatie en lateralisatie
        li Aandacht en concentratie
        li Structuur, plannen en organiseren
        li Schoolrijpheidsproblemen
        li ... 

